/*
    0 - 600px: Phone
    600-900px: Tablet portrait
    900-1200px: Tablet landscape
    [1200 - 1800] is where our normal styles apply
    1800px +: Big desktop

    $breakpoint argument choices:visited
    - phone
    - tab-port
    - tab-land
    - big-desktop

    ORDER: Base + typography > general layout + grid > page layout > components

    1em=16px
    */
.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-5 {
  margin-bottom: 5rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-small {
  margin-top: 1rem !important;
}

.u-margin-top-medium {
  margin-top: 3rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.padding-top-2 {
  padding-top: 2rem;
}

.padding-bottom-2 {
  padding-bottom: 2rem;
}

.padding-large {
  padding: 5rem;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 15rem;
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 1rem;
  }
}

body {
  font-family: Flama;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #000;
}

.nav {
  font-family: Flama Condensed;
  letter-spacing: 3px;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.heading-primary {
  font-family: Frontage;
  font-size: 2.8rem;
  text-align: center;
}

.heading-secondary {
  font-family: Frontage;
  font-size: 2rem;
  text-align: center;
}

.heading-tertiary {
  font-family: Frontage;
  font-size: 1.8rem;
  text-align: center;
}

.btn {
  font-family: Flama Condensed;
  letter-spacing: 3px;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.nav {
  white-space: nowrap;
}
.nav__item {
  position: relative;
}
.nav__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 15%;
  height: 2px;
  width: 70%;
  background-color: #000;
  transform: scaleX(0);
  transition: all 0.5s;
}
.nav__item:hover::before {
  transform: scaleY(1);
  width: 70%;
}
.nav__item:active::before {
  background-color: #000;
}
@media only screen and (max-width: 56.25em) {
  .nav {
    display: none;
    opacity: 0;
  }
}

.btn {
  padding: 1.2rem 3rem;
  border: none;
  background-color: #39c0dd;
  transition: all 0.2s;
  cursor: pointer;
}
.btn__link:link, .btn__link:visited {
  color: #000;
  text-decoration: none;
  text-decoration: none;
}
.btn:hover {
  background-color: #000;
  color: #fff;
}

.card {
  position: relative;
  height: 52rem;
  width: 90%;
  margin-top: 5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  flex: 1;
  margin: auto;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .card {
    width: 60%;
  }
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card__picture--1 {
  background-image: url("https://ik.imagekit.io/7i4mfuqa7z9/Art_Stable-4770_copy_6Oqt7w4N7.jpg?updatedAt=1626663489969");
}
.card__picture--2 {
  background-image: url("https://ik.imagekit.io/7i4mfuqa7z9/B_C_LizzieSnowPhotography_15_crop_P41GdR3cd1w.jpg?updatedAt=1628116698667");
}
.card__picture--3 {
  background-image: url("https://ik.imagekit.io/7i4mfuqa7z9/outside1_HrB_kL41C7v.jpg?updatedAt=1627855097013");
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 14rem;
  right: 1rem;
  width: 100%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: linear-gradient(to right bottom, rgba(57, 192, 221, 0.85), rgba(0, 117, 131, 0.85));
}
.card__details {
  text-align: center;
  padding: 3rem;
}

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.slider__btn {
  position: absolute;
  top: 40%;
  z-index: 10;
  border: none;
  background: rgba(57, 192, 221, 0.3);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}
.slider__btn--left {
  left: -8%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 37.5em) {
  .slider__btn--left {
    left: -15%;
  }
}
.slider__btn--right {
  right: -8%;
  transform: translate(50%, -50%);
}
@media only screen and (max-width: 37.5em) {
  .slider__btn--right {
    right: -15%;
  }
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}
.dots__dot:last-child {
  margin: 0;
}
.dots__dot--active {
  background-color: #888;
  opacity: 1;
}

.wrapper {
  padding: 0 1rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
@media only screen and (max-width: 37.5em) {
  .grid {
    display: unset;
  }
}

.responsive-image {
  width: 275px;
  height: 250px;
  object-fit: cover;
}

.cell {
  display: block;
  width: calc(25% - 2rem);
  max-height: 25vh;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  margin: 1rem;
  border-radius: 3px;
}
@media only screen and (max-width: 75em) {
  .cell {
    width: calc(33.33333% - 2rem);
  }
}
@media only screen and (max-width: 56.25em) {
  .cell {
    width: calc(50% - 2rem);
  }
}
@media only screen and (max-width: 37.5em) {
  .cell {
    width: 100%;
  }
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: #eeeeee;
  border: none;
  border-bottom: 3px solid transparent;
  width: 150%;
  display: block;
}
@media only screen and (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__textarea {
  height: 10rem;
}

.navigation__button {
  height: 6rem;
  width: 6rem;
  cursor: pointer;
  position: absolute;
  margin-left: 55vw;
  top: 2rem;
  left: 22vw;
  text-align: center;
  z-index: 200;
  display: none;
  position: fixed;
}
@media only screen and (max-width: 56.25em) {
  .navigation__button {
    display: block;
    opacity: 1;
  }
}
.navigation__background {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s;
}
@supports (-webkit-backdrop-filter: blur(2rem)) or (backdrop-filter: blur(2rem)) {
  .navigation__background {
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    background-color: rgba(255, 255, 255, 0.3);
  }
}
.navigation__nav {
  position: fixed;
  white-space: nowrap;
  z-index: 300;
  height: 35rem;
  width: 35rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}
.navigation__list {
  list-style: none;
  font-family: inherit;
  font-size: 3rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation__item {
  position: relative;
  margin-bottom: 2rem;
}
.navigation__item a {
  z-index: 7000;
}
.navigation__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 15%;
  height: 2px;
  width: 70%;
  background-color: #000;
  transform: scaleX(0);
  transition: all 0.5s;
}
.navigation__item:hover::before {
  transform: scaleY(1);
  width: 70%;
}
.navigation__icon {
  position: absolute;
  margin-top: 3.5rem;
  display: none;
  opacity: 0;
  position: fixed;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #000;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
@media only screen and (max-width: 56.25em) {
  .navigation__icon {
    display: inline-block;
    opacity: 1;
  }
}
.navigation__icon--1 {
  margin-top: 3.5rem;
  position: absolute;
  z-index: 1000;
}
.navigation__icon--1::before, .navigation__icon--1::after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 2px;
  width: 33px;
  background-color: #333;
  margin-left: -2.5rem;
}
.navigation__icon--1::before {
  transform: rotate(135deg);
}
.navigation__icon--1::after {
  transform: rotate(-135deg);
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.hide {
  opacity: 0;
  z-index: 0;
  display: none;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 8000;
}
.popup img {
  max-width: 80vw;
  max-height: 80vh;
}
.popup__btn {
  right: -15px;
  top: -15px;
  position: absolute;
  cursor: pointer;
}
.popup__btn::before, .popup__btn::after {
  position: absolute;
  right: 15px;
  content: " ";
  height: 2px;
  width: 33px;
  background-color: #777;
  margin-left: -2.5rem;
}
.popup__btn::before {
  transform: rotate(135deg);
}
.popup__btn::after {
  transform: rotate(-135deg);
}
.popup__background {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s;
}
@supports (-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem)) {
  .popup__background {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.header {
  background-color: white;
  width: 100%;
  height: 15rem;
  top: 0;
  position: fixed;
  z-index: 100;
}

.logo {
  padding-top: 2rem;
  background-color: white;
  margin: auto;
  right: 0;
  left: 0;
  position: fixed;
}
@media only screen and (max-width: 37.5em) {
  .logo {
    height: 8rem;
  }
}

.nav {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  margin: 1rem;
}
.nav__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 4rem;
}
.nav__link:link, .nav__link:visited {
  color: #000;
  text-decoration: none;
  text-decoration: none;
  padding: 1.5rem 3rem;
}

.welcome__text {
  width: 50%;
  margin: auto;
}
@media only screen and (max-width: 37.5em) {
  .welcome__text {
    width: 100%;
  }
}
.welcome__image--box {
  width: 80%;
  margin: auto;
  margin-top: 15rem;
}
.welcome__image {
  margin-right: 3rem;
  margin-top: 15rem;
  height: 50rem;
  width: 50rem;
}
@media only screen and (max-width: 37.5em) {
  .welcome__image {
    margin: 5rem auto;
    width: 100%;
  }
}
.welcome__text--2 {
  margin-top: 25rem;
  margin-right: 10rem;
}
@media only screen and (max-width: 75em) {
  .welcome__text--2 {
    margin-top: 20rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .welcome__text--2 {
    width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .welcome__text--2 {
    margin: auto;
  }
}

.paragraph {
  margin-top: 2rem;
  line-height: 1.4;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
@media only screen and (max-width: 37.5em) {
  .column {
    flex: 0 0 100%;
  }
}

.offerings {
  margin-top: 8rem;
}
.offerings__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 37.5em) {
  .offerings__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.offerings__info {
  padding: 3rem 3rem;
  text-align: center;
}
.offerings__icon {
  width: 5rem;
  height: 5rem;
}

.rates {
  margin-top: 5rem;
}

.policy-details {
  padding: 3rem;
}
.policy-details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.policy-details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  font-size: inherit;
}
.policy-details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.reviews {
  width: 65%;
  position: relative;
  margin: 5rem auto;
}

.review__text {
  margin-bottom: 3.5rem;
  font-size: 1.7rem;
}

.review__author {
  margin-left: 3rem;
  font-style: normal;
  display: flex;
}

.review__photo {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
}

.review__author-date {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2rem;
}

.contact {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 10rem 0;
}
.contact__wrapper {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  width: 90%;
  margin: auto;
}
@media only screen and (max-width: 56.25em) {
  .contact {
    padding: 10rem 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .contact {
    padding: 0;
  }
}
.contact__form {
  width: 50%;
  padding: 5rem 0;
  margin: auto;
}
@media only screen and (max-width: 75em) {
  .contact__form {
    width: 65%;
  }
}
@media only screen and (max-width: 56.25em) {
  .contact__form {
    width: 100%;
  }
}
.contact__phone {
  margin-top: 8rem;
}
@media only screen and (max-width: 37.5em) {
  .contact__phone {
    margin-top: 3rem;
  }
}
.contact__address {
  margin-top: 3rem;
}

.footer {
  background-color: transparent;
  width: 100%;
  max-width: 114rem;
  height: 5rem;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    width: 90%;
  }
}

.animation {
  animation-name: moveInBottom;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.hero {
  height: 80rem;
  margin-top: 2rem;
  animation-name: fadein;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
.hero__image {
  background-image: url("https://ik.imagekit.io/7i4mfuqa7z9/Living_Art_Stable-4676_copy_65zEMonRu.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  transition: all 1s;
}
@media only screen and (max-width: 37.5em) {
  .hero {
    height: 40rem;
  }
}

.welcome {
  margin-top: 6rem;
}

/*# sourceMappingURL=style.comp.css.map */
