@use "../abstracts/" as *;

.footer {
  background-color: transparent;
  width: 100%;
  max-width: 114rem;
  height: 5rem;
  bottom: 0;

  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include respond(tab-port) {
    width: 90%;
  }
}

.animation {
  animation-name: moveInBottom;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
