@use "../abstracts/" as *;

.footer {
  background-color: #fff;
  width: 100%;
  max-width: 114rem;
  height: 5rem;
  bottom: 0;

  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include respond(tab-port) {
    width: 80%;
  }
}
