@use "../abstracts/" as *;

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.welcome {
  &__text {
    width: 50%;
    margin: auto;

    @include respond(phone) {
      width: 100%;
    }
  }

  &__image--box {
    width: 80%;
    margin: auto;
    margin-top: 15rem;
  }

  &__image {
    margin-right: 3rem;
    margin-top: 15rem;
    height: 50rem;
    width: 50rem;
  }

  &__text--2 {
    margin-top: 25rem;
    margin-right: 10rem;
  }
}

.paragraph {
  margin-top: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

  @include respond(phone) {
    flex: 2 1 auto;
  }
}
