@use "../abstracts/" as *;

.offerings {
  margin-top: 8rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include respond(phone) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__info {
    padding: 3rem 3rem;
    text-align: center;
  }

  &__icon {
    width: 5rem;
    height: 5rem;
  }
}
