.reviews {
  width: 65%;
  position: relative;
  margin: 5rem auto;
}

.review__text {
  margin-bottom: 3.5rem;
  font-size: 1.7rem;
}

.review__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.review__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.review__name {
  align-self: end;
  margin: 0;
}
