.reviews {
  width: 65%;
  position: relative;
  margin: 5rem auto;
}

.review__text {
  margin-bottom: 3.5rem;
  font-size: 1.7rem;
}

.review__author {
  margin-left: 3rem;
  font-style: normal;
  display: flex;
}

.review__photo {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
}

.review__author-date {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2rem;
}
