@use "../abstracts/" as *;

.wrapper {
  padding: 0 1rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  @include respond(phone) {
    display: unset;
  }
}

.responsive-image {
  width: 275px;
  height: 250px;
  object-fit: cover;
}

.cell {
  display: block;
  width: calc(25% - 2rem);
  max-height: 25vh;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  margin: 1rem;
  border-radius: 3px;

  @include respond(tab-land) {
    width: calc(33.33333% - 2rem);
  }

  @include respond(tab-port) {
    width: calc(50% - 2rem);
  }

  @include respond(phone) {
    width: 100%;
  }
}
