@font-face {
  font-family: "Frontage";
  src: url("./Frontage-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Flama";
  font-style: normal;
  font-weight: normal;
  src: url("./Flama Regular.woff") format("woff");
}

@font-face {
  font-family: "Flama Condensed";
  font-style: normal;
  font-weight: normal;
  src: url("./Flama Condensed Basic Regular.woff") format("woff");
}
