@use "../abstracts/" as *;

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.hero {
  height: 80rem;
  margin-top: 2rem;

  &__image {
    background-image: url("https://ik.imagekit.io/7i4mfuqa7z9/Living_Art_Stable-4676_copy_65zEMonRu.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    transition: all 1s;
  }

  @include respond(phone) {
    height: 40rem;
  }
}

.welcome {
  margin-top: 6rem;
}
