.container {
  max-width: 114rem;
  margin: 0 auto;
}

.hero {
  height: 80rem;
  margin-top: 2rem;
  &__image {
    background-image: url("/img/artstabledata/Living\ Art\ Stable-4676\ copy.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
}

.welcome {
  margin-top: 6rem;
}

.anchor {
  display: block;
  height: 13rem;
  margin-top: -13rem;
  visibility: hidden;
}
